<!DOCTYPE html>
<style>
	.md {
		margin-right: 30px;
	}
	.main-name {
		font-size: 25px;
		margin-right: 20px;
		color: #ffffff;
	}
	.bg {
		background-color: #009999;
	}
</style>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}{% endblock %}</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>
		<link
			href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
			rel="stylesheet"
		/>
		<title>Bootstrap Example</title>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</head>
	<body>
		<header class="p-3 mb-3 bg border-bottom">
			<div class="container">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
				>
					<a href="/"
						><img
							src="{{ url_for('static', filename='ticket.jpg') }}"
							width="45"
							height="45"
							class="rounded-circle md"
							style="box-shadow: 0px 0px 19px rgb(255 255 255 / 60%)" /></a
					><!--class="rounded-circle"-->

					<a href="/" class="nav-link px-2 link-light"
						><font face="Franklin Gothic Medium" class="main-name"
							>Time-Ticket</font
						></a
					>

					<ul
						class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
					>
						<li><a href="/" class="nav-link px-2 link-light">Главная</a></li>
						<li>
							<a href="/add_event/0" class="nav-link px-2 link-light"
								>Добавить мероприятие</a
							>
						</li>
						<li>
							<a href="/events" class="nav-link px-2 link-light"
								>Записаться на мероприятие</a
							>
						</li>
						{% if current_user.admin == 2 %}
						<li>
							<a href="/admin_status_p" class="nav-link px-2 link-light"
								>Выдать /</a
							>
						</li>
						<li>
							<a href="/admin_status_m" class="nav-link px-2 link-light"
								>Забрать статус администратора</a
							>
						</li>
						{% endif %}
					</ul>

					{% if current_user.is_authenticated %}
					<h5 class="text-end text-light" style="margin: 0px 10px 5px 5px">
						{{current_user.username}}
					</h5>
					<!--margin-right:10px margin-top:5px-->
					<div class="dropdown text-end">
						<a
							href="#"
							class="d-block link-light text-decoration-none dropdown-toggle"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<img
								src="{{ url_for('static', filename='profile2.jpg') }}"
								alt="mdo"
								width="32"
								height="32"
								class="rounded-circle"
								style="box-shadow: 0px 0px 19px rgb(255 255 255 / 25%)"
							/>
						</a>
						<ul class="dropdown-menu text-small" style="">
							<li>
								<a class="dropdown-item" href="/add_event/0"
									>Добавить мероприятие</a
								>
							</li>
							<li>
								<a class="dropdown-item" href="/profile/{{current_user.id}}"
									>Профиль</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" href="/logout">Выйти</a></li>
						</ul>
					</div>
					<div class="btn-group" style="margin-left: 10px">
						<a
							href="/logout"
							class="btn btn-primary md"
							style="border: 1px solid #ffffff"
							>Выйти</a
						>
					</div>
					{% else %}
					<div class="btn-group">
						<a
							href="/sign-up"
							class="btn text-white"
							style="background-color: #00bc00"
							>Зарегистрироваться</a
						>
						<a
							href="/login"
							class="btn btn btn-light text-primary"
							style="border: 1px solid #ffffff"
							>Войти</a
						>
					</div>
					{% endif %}
				</div>
			</div>
		</header>

		<div class="container">{% block main %}{% endblock %}</div>

		<div class="container">
			<footer
				class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
			>
				<div class="col-md-4 d-flex align-items-center">
					<a
						href="/"
						class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
					>
						<svg class="bi" width="30" height="24"></svg>
					</a>
					<a href="https://vk.com/Wiquzxi"
						><img src="/static/img/vk.png" height="30px" width="30px"
					/></a>
					<a href="https://t.me/Wiquzix"
						><img src="/static/img/telegram.png" height="30px" width="30px"
					/></a>
					<img src="/static/img/email.jpg" height="30px" width="40px" />
					<span class="mb-3 mb-md-0 text-muted">
						Wiquix@mail.ru ©2024 Wiquix, Inc
					</span>
				</div>
			</footer>
		</div>

		<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>

		<script
			src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
	</body>
</html>
